/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 Nov, 2015, 3:19:51 AM
    Author     : Sridhar B
*/

.btn {
       line-height: 0.8;
} 

.table-responsive {
    min-height: 300px;
}